@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center d-flex justify-content-evenly align-items-center border border-1 p-4 border-warning">
    <div>
        <img src="./kurucu.jpg" alt="logo" width="250" />
    </div>
    <div>
        <h1 class="display-4 fs-2 mt-2">Elif Tuba Korkmaz</h1>
        <p><b>I am a Software Developer</b></p>
        <p><b>You can find the content you are looking for about the software on their blog.</b></p>
        <label>Subscribe to register and be informed about my published blog posts.</label>
        <div class="d-flex justify-content-evenly mt-4">
            <input class="form-control" style="width:60%" placeholder="your@email.com"></input>
            <button class="btn btn-warning">Subscribe</button>
        </div>
    </div>
</div>
